*

main{
    width: 60%;
    height: 80%;
    
}
.Form1{
    border: 2px solid black;
    width: 80%;
    height: 40vh;
    border-radius: 8rem;
    padding: 5rem;
    margin-top: 8rem;
    margin-right: 4rem;
    margin-left: 25rem;
    background-color: burlywood;
 
    
    
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    padding-bottom: 0%;
    
}
a{
    font-size: 20pt;
    color: azure;
}
